
html,
body {
  background: #fff;
  font-family: 'Poppins', sans-serif;
}

::selection {
  background: #ff511a;
  color: #fff;
}

::-moz-selection {
  background: #ff511a;
  color: #fff;
}


.green-button a {
  font-size: 14px;
  color: #fff;
  background-color: #43ba7f;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 5px;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
}

.green-button a:hover {
  opacity: 0.9;
}

.orange-button a {
  font-size: 14px;
  color: #fff;
  background-color: #ff511a;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 5px;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
}

.orange-button a:hover {
  opacity: 0.9;
}

section {
  margin-top: 120px;
}

.section-heading {
  position: relative;
  z-index: 2;
  margin-top: 0px;
  text-align: center;
  margin-bottom: 70px;
}

.section-heading h6 {
  font-size: 16px;
  text-transform: uppercase;
  color: #ff511a;
  font-weight: 700;
}

.section-heading h4 {
  margin-top: 10px;
  line-height: 40px;
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  color: #212741;
}

.section-heading p {
  margin-top: 30px;
}

*/
.background-header {
  background-color: #212741;
  height: 80px!important;
  position: fixed!important;
  top: 0!important;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15)!important;
}



header{
  position: fixed;
  background-color: #000;
  width: 100%;
  padding: 10px 0;
  z-index: 30;
}
.main-nav{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.main-nav ul{
  list-style-type: none;
  display: flex;
  margin-bottom: 0 !important;
}
.main-nav .logo{
  font-size: 1.5em;
  color: #ff511a;
  text-decoration: none;
  font-weight: 600;
}
.main-nav li{
  padding: 10px 10px !important;
  margin-left: 15px !important;
}
.main-nav .active{
  color: #ff511a;
}
.main-nav a{
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
  transition: 0.5s ease ;
  
}
.main-nav li:hover a{
  transition: all 0.5s ease;
  color: #ff511a;
}
.main-nav .nav-btn{
  padding: 15px 25px !important;
  background-color: #43ba7f;
  border-radius: 3px 16px 14px 20px;
  color: #fff;
}
.main-nav .nav-btn:hover{
  border-radius: 20px 3px 16px 14px;
  color: #fff;
}


section.simple-cta {
  background-image: url(../images/cta-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  padding: 80px 0px;
}

section.simple-cta .left-image {
  margin-right: 45px;
}

section.simple-cta h4 {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  line-height: 50px;
}

section.simple-cta h4 em {
  font-style: normal;
  color: #43ba7f;
}

section.simple-cta h4 strong {
  color: #ff511a;
  font-weight: 700;
}

section.simple-cta p {
  color: #fff;
  margin-top: 30px;
  margin-bottom: 40px;
}

section.simple-cta .buttons {
  display: flex;
  justify-content: end;
}

section.simple-cta .buttons .orange-button {
  margin-left: 20px;
}

section.simple-cta .buttons .orange-button,
section.simple-cta .buttons .green-button {
  margin-top: 25px;
}





section.partners {
  background-color: #212741;
  padding: 80px 0px;
}

section.partners .item {
  margin: 0px 15px;
  cursor: pointer;
  transition: all .3s;
}

section.partners .item:hover {
  opacity: 0.75;
}





footer {
  background-color: #181d30;
  text-align: center;
  padding: 25px 0px;
}

footer p {
  color: #fff;
  font-weight: 300;
}

footer p a {
  color: #ff511a;
}




.page-heading {
  background-image: url(../images/heading-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 215px 0px 120px 0px;
  text-align: center;
}

.page-heading h2 {
  font-size: 56px;
  color: #fff;
  font-weight: 700;
}

.page-heading .div-dec {
  width: 80px;
  height: 6px;
  border-radius: 3px;
  background-color: #fff;
  margin: 20px auto 0 auto;
}


@media screen and (min-width: 768px) {
  .accordion-head {
    padding: 1rem;
    font-size: 1.2rem;
    cursor: pointer; 
  }
}

.accordion-head .icon {
  float: right;
  transition: transform 200ms ease-in-out;
}

.accordion-head.is-open {
  color: #43ba7f;
  border-bottom: none;
}

.accordion-head.is-open .icon {
  transform: rotate(45deg);
}

.accordion-body {
  padding: 0;
  max-height: 0; 
  overflow: hidden; 
  transition: max-height 300ms ease-in-out; 
  border-bottom: 1px solid #fff;
}

.accordion-body.show {
  max-height: 500px;
}

.accordion-body > .content p {
  padding: 0 0 30px 0;
  padding-top: 0;
}


section.what-we-do {
  margin-bottom: -30px;
}

.what-we-do .left-content {
  margin-right: 60px;
}

.what-we-do .left-content h4 {
  font-size: 22px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 40px;
}

.what-we-do .left-content p {
  margin-bottom: 40px;
}

.what-we-do .right-items .item {
  border-radius: 5px;
  padding: 40px 30px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  position: relative;
}

.what-we-do .right-items .item em {
  position: absolute;
  font-style: normal;
  font-size: 44px;
  color: #43ba7f;
  font-weight: 600;
  right: 15px;
  top: 5px;
  transition: all .3s;
}

.what-we-do .right-items .item h4 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 22px;
}

.what-we-do .right-items .item:hover em {
  top: 10px;
}

























.ana-nav {
background-color: #43ba7f;
color: #fff;
padding: 10px;
text-align: center;
}

.ana-nav a {
color: #fff;
margin: 0 15px;
text-decoration: none;
font-weight: bold;
}
.ana-nav a:hover {
text-decoration: underline;
}
main {
padding: 20px;
max-width: 900px;
margin: auto;
}
.h2H {
color: #ff511a;
border-bottom: 2px solid #43ba7f;
padding-bottom: 5px;
}
p, ul {
color: #000;
}
ul {
list-style-type: disc;
padding-left: 20px;
}
pre {
background-color: #f4f4f4;
border: 1px solid #43ba7f;
padding: 10px;
color: #000;
border-radius: 8px;
overflow-x: auto;
}
.highlight {
color: #43ba7f;
font-weight: bold;
}
.code-example {
margin-bottom: 20px;
}
footer {
text-align: center;
background-color: #43ba7f;
padding: 10px;
margin-top: 20px;
color: #fff;
}
a {
color: #43ba7f;
text-decoration: none;
}
a:hover {
text-decoration: underline;
}